
body {

	
	background-color: #f5f6fa;
	color: #2f3640;
	font-size: 90%; /* base size 14px */ 
	font-family: Arial , 'Lucida Sans Unicode';
	line-height:  2.5;
	text-align: left;
}

a{text-decoration: none;}
a:link , a:visited { color: white; } 
a:hover , a:active { color: #2C3A47; } 

.body {
	margin: 0 auto ;
	width: 70%;
	clear: both;
}
.body header img {
	border-radius: 5px ;
}
/* ------------------------- MAIN HEADER -----------------*/

.mainHeader img {
	width: 100%;
	height:  300px;
}

.mainHeader nav {

	background-color: #e74c3c;
	height:  40px; 
	border-radius: 5px;
}

.mainHeader ul {
	text-align: center;
	list-style: none ; 
	margin: 0 auto;

}

.mainHeader nav ul li {
	display: inline;;
}

.mainHeader a:link , .mainHeader a:visited {
	color: white ;
	padding-right: 20px ;
	padding-left: 20px;
	padding-bottom: 2px;
	display: inline-block; 
	

}

.mainHeader a:hover , .mainHeader a:active {
	color: black ;
	background-color: #f5f6fa ;
	border-radius: 3px;
	display: inline-block; 
	
}

.mainContent section {
	border: 2px #fbc531;
}
.mainContent {
	width:  70% ;
	float: left ;
}
/* ------------------------- MAIN CONTENT-----------------*/

.topCON {
	background-color: #B33771 ;
	border-radius: 7px;  
	margin-top: 3%;
	padding:  2% ;

}

.post-info {
	color: #F8EFBA ;
	font-size: 90%;
	font-style: italic; 
	margin-top: -30px;
}



.post-cont {
	display: inline;
	font-family: Arial ;
}

/* -------------------------SIDE BAR -----------------*/

.theSide  {
	width: 22%;
	margin: 2% 0 0 2%;
	float: left ;
	padding: 2%;
	background-color: #6D214F;
	border-radius: 7px;
	height: 60%;
}
.theSide p {
	color: white;
}
/* -------------------------SIDE BAR -----------------*/

.footer {
	float: left;
	height: 40px;
	border-radius: 5px;
	width: 100%;
	background-color: #e74c3c;
	margin-top: 20px; 
}

.footer p {
	text-align: center; 
	color: white ;
	font-style: solid;
	margin: 0 auto ;
	padding-bottom: 10px;
}